<!DOCTYPE html>
<html>

<head>
    <title>Flask for Fun</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
    <div class="section">
        <h1 class="title">Pick the language, category, and number of jokes to hear</h1>
        <div class="container">
            <form method="post" action="/">
                <div class="columns">
                    <div class="column">
                        <label for="selLang">Language</label>
                        <div class="select is-fullwidth">
                            <select name="language" id="selLang">
                                {% for code, name in languages.items() %}
                                <option value="{{ code }}" {% if code==selected_language %}selected{% endif %}>{{ name
                                    }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <label for="selCat">Category</label>
                        <div class="select is-fullwidth">
                            <select name="category" id="selCat">
                                {% for category in categories %}
                                <option value="{{ category }}" {% if category==selected_category %}selected{% endif %}>
                                    {{ category.title() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <label for="selNum">Number of Jokes</label>
                        <div class="select is-fullwidth">
                            <select name="number" id="selNum">
                                {% for n in num_jokes %}
                                <option value="{{ n }}" {% if n==selected_number %}selected{% endif %}>{{ n }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <button id="btnAmuse" type="submit" class="button is-primary is-fullwidth">Amuse me</button>
                </div>
            </form>
        </div>
    </div>
    <div class="section">
        <div class="container" id="jokes">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>